{% extends "basePersonal.html" %}

{% load static %}

{% block title %}
    <title>About Me</title>
{% endblock title %}
{% block content %}
<h1 class="names">About Me</h1>
<p>I am a software engineer with a passion for backend development. I have over 6 years of experience in building scalable and efficient applications using Python, Django, Flask, and FastAPI. My expertise includes RESTful API development, database management with SQL and MongoDB, and cloud services like DigitalOcean and AWS. I am committed to continuous learning and improving my skills in software engineering.</p>

{% block content %}
