{% extends "basePersonal.html" %}

{% load static %}

{% block title %}
    <title>About Me</title>
{% endblock title %}
{% block content %}
<div class="container my-5">
    <h2 class="text-center mb-4">About Me</h2>
    <p class="text-center">Hello! I'm Pumelela, a passionate software developer with expertise in Django, React, and more. I love creating innovative solutions that make a difference.</p>
    <p class="text-center">Feel free to explore my projects and get in touch!</p>
</div>
{% endblock %}
