{% extends "basePersonal.html" %}
{% block title %}
<title>project.name</title>
{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Projects</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Project Name</th>
                        <th>Project Description</th>
                        <th>Project Link</th>
                        <th>Project Technology</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ project.name }}</td>
                        <td>{{ project.description }}</td>
                        <td>{{ project.url }}</td>
                        <td>{{ project.technology }}</td>
                    </tr>
                </tbody>
            </table>
            {% if project.url_video %}
            <h2>How It Works</h2>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="{{ project.url_video }}" allowfullscreen></iframe>
            </div>
            <!-- Download Button -->
            {% if project.dowloadable %}
                <a href="{{ project.url_video }}" class="btn btn-primary">Download - Project</a>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
