{% extends "basePersonal.html" %}
{% load static %}
{% block title %}
    <title>Catch Items Game</title>
{% endblock title %}
{% block css %}
<style>
        canvas {
            border: 1px solid #7e1a1aff;
            background: white;
            display: block;
            margin: 20px auto;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        #score {
            font-size: 24px;
            font-weight: bold;
            color: #979523ff;
            margin-top: 10px;
        }
    </style>
{% endblock css %}
{% block content %}

<div class="container text-center">
    <h1>Catch Items Game</h1>
    <button id="startButton" class="btn btn-primary">Start Game</button>
    <canvas id="gameCanvas" width="800" height="600"></canvas>
    <div id="score">Score: 0</div>

</div>
    <script src="{% static 'mainPage/javascript/games/catchItems.js' %}"></script>

{% endblock content %}
