.names {
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%; 
    margin: auto;
    overflow: hidden;
    background-color: #eee;
    box-shadow: 1px 1px 3px rgba(0,0, 0, 0.1);
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77aaff 3px solid;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

header p {
    text-align: center;
    margin: 0;
}

section {
    margin: 20px 0;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
}

h2 {
    border-bottom: 2px solid #77aaff;
    padding-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

.intricate {
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-left: #66e42b 5px solid;
}

ul li {
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-left: #77aaff 5px solid;
}

button {
    background: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

img:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}
